
<%= simple_form_for @group do |f| %>
  <div class="form-group">
    <%= f.input :title, autofocus: true %>
    <%= f.input :description %>
  </div>
  <%= f.submit "送出", class: "btn btn-primary", data: { disable_with: "送出中..." } %>
<% end %>
<script type="text/javascript">
var key = [["q","w","e","r","t","y","u","i","o","p"], ["a","s","d","f","g","h","j","k","l"], ["z","x","c","v","b","n","m"]];
for(var i = 0; i < key.length; i++)
{
    document.write("<div>");
    for(var j = 0; j < key[i].length; j++)
    {
       document.write('<button onclick="ShowMeDate()">'+key[i][j]+'</button>');
    }
    document.write("</div>");
}
function ShowMeDate() {
  group.title ="1"  
}
</script>
