<div>
  <% if current_user %>
    <%= link_to("新字造", new_group_path, class: "btn btn-primary btn-lg") %>
    <%= link_to("求造字", new_askword_path, class: "btn btn-warning btn-sm pull-right") %>
    <%= link_to("待造字", askwords_path, class: "btn btn-info btn-sm pull-right") %>
  <% end %>
</div>
